/* Empty. Add your own CSS if you like */
body {
  padding: 0px;
  margin: 0px;
}
#challenge {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  background: #FFF;
  color: #444;
}
.hide {
  display: none !important;
}
.correct {
  background: green;
  color: white;
}
.false {
  background: red;
  color: white;
}
