<div class="modal challenge-modal">
  <div class = 'padding inside'>
	  <div class = 'castle'>
  	  <img src = 'assets/images/castle.png'/>
	  </div>
	  <div class = 'cloud'>
  	  <img src = 'assets/images/cloud-1.png'/>
	  </div>
	  <div class = 'hunter'> </div>
  	<div class = 'my_answer bar bar-dark'>
  		<h4>Answer the question correctly or suffer my wrath.</h4>
  	</div>
    <div class = 'my_answer bar bar-balanced' ng-show = "my_answer && my_answer !== current_question.a">
      <h4 ng-show="my_answer && my_answer !== current_question.a">Dang! <span>Sorry, You Lose 1 Life</span></h4>
    </div>
    <div class = 'my_answer bar bar-assertive' ng-show = "my_answer == current_question.a">
      <h4 ng-show="my_answer == current_question.a">Great Job! <span>You are awarded 1 life, and 100 points</span></h4>
    </div>
		<b>{{current_question.q}}</b>
		<p ng-show = "current_question.n && current_question.n !== ''">{{current_question.n}}</p>
		<ol>
			<li ng-repeat='( k, v )  in current_question.o'>
			  <button class = 'button button-small' ng-click = 'game.answer_challenge( k, current_question.a )'>
			    {{v}}
			    <i class = 'ion-checkmark ' ng-class="{ 'balanced' : current_question.a == k}" ng-show="my_answer && current_question.a == k"></i>
			    <i class = 'ion-checkmark assertive' ng-if='my_answer == k && current_question.a !== k' ></i>
			  </button>
			</li>
		</ol>
  </div>
</div>
