<ion-view >
 <ion-content >
<!--

<nav id = 'app-nav' ng-class = "menu_open ? 'open' : ''" >
    <a ng-click="game.restart();">Restart</a>
    <a ng-click="game.quit();">Quit</a>
    <button type = 'button' class = 'trigger' ng-click="pause_and_show_menu()">
      <i class ='icon ' ng-class="menu_open ? 'ion-play' : 'ion-pause'"></i>
    </button>
</nav>
-->

    <div id = 'gameDiv'></div>

    <div id="challenge" class="hide">
    	<header>
    		<h1>You shall not pass!</h1>
    		<p>Answer the question correctly or suffer my wrath.</p>
    	</header>
    </div>

    <div class="templates hide">
    	<script type="text/template"  id="aQuestion">
    		<div class="current-question">
    			<h2><%- question %></h2>
    			<ul class="options">
    				<% _.each(options, function(v,k) { %>
    					<li><button type="button" class="user-answer" data-value="<%- k %>"> <%- v %> </button></li>
    				<% }); %>
    			</ul>
    			<% if( typeof n !== 'undefined' ){ %>
    			<p class="note hide"> <%- n %> </p>
      			<% } %>

    			<input type="hidden" readonly value="<%- answer %>" id="the_answer" />

    		</div>
    	</script>

    	<script type="text/template"  id="option">
    		<li><button type="button" class="user-answer" data-value="<%- k %>"> <%- v %> </button></li>
    	</script>

    </div>



  </ion-content>
</ion-view>
