<ion-view id = 'index'class = 'page'>
 <ion-content>
  <div class="row row-bottom entry-row">
    <div class="col ">
      <i class = 'icon-logo logo '></i>
      <br/>
      <br/>
      <ul>
        <li> <a ui-sref="game" class = 'button ' ng-click="menu_open=false"> Play &nbsp;Postar </a> </li>
        <li> <a ui-sref="leader-board" class = 'button ' ng-click="menu_open=false"> Postar &nbsp;Leaders </a> </li>
        <li> <a ui-sref="poster-view" class = 'button ' ng-click="menu_open=false">Badass &nbsp;Posters </a> </li>
      </ul>
    </div>
    <div class="col col-center col-right">
    </div>
  </div>
 </ion-content>
</ion-view>
