<ion-view >
 <ion-content>
  <div class="row row-center entry-row">
    <div class="col col-center">
      <a ui-sref="game" class = 'button' ng-click="menu_open=false">Play Postar</a>
    </div>
    <div class="col col-center">
      <a ui-sref="leader-board" class = 'button'  ng-click="menu_open=false">Leader Board</a>
    </div>
    <div class="col col-center">
      <a ui-sref="poster-view" class = 'button'  ng-click="menu_open=false">GABF Posters</a>
    </div>
  </div>
 </ion-content>
</ion-view>
