<ion-view >
 <ion-content id = 'tmpl-poster-view'>
  <div ng-include src="'templates/nav.html'"></div>
  <ion-slide-box >
    <ion-slide  >
      <div class="box poster">
        <div class = 'row row-center'>
          <div class = 'col col-center'>
            <img ng-src="posters/2016-a.jpg"/>
          </div>
          <div class = 'col col-center'>
            <img ng-src="posters/2016-b.jpg"/>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide  >
      <div class="box poster">
        <div class = 'row row-center'>
          <div class = 'col col-center'>
            <img ng-src="posters/2015-a.jpg"/>
          </div>
          <div class = 'col col-center'>
            <img ng-src="posters/2015-b.jpg"/>
          </div>
        </div>
      </div>
    </ion-slide>

  </ion-slide-box>


 </ion-content>
</ion-view>
