<div class="modal challenge-modal">
  <div class = 'padding inside'>
	  <div class = 'castle'>
  	  <img src = 'assets/images/castle.png'/>
	  </div>
	  <div class = 'cloud'>
  	  <img src = 'assets/images/cloud-1.png'/>
	  </div>
	  <div class = 'hunter'> </div>
  	<div class = 'my_answer bar bar-dark'>
  		<h4>New High Score: {{ game.points }} Points!</h4>
  	</div>
  	<p ng-hide = 'game.highScoreSaved'>Save your score for eternal glory!</p>
  	<form id="save-high-score" ng-submit="game.submitHighScore()">
    	<div class = 'row'>
      	<div class = 'col'>
          <label class="item item-input">
            <input type="text" ng-model="game.initials" class="" placeholder="Enter yor initials" maxlength="3">
          </label>
      	</div>
      	<div class = 'col'>
          <button type="submit" class="button button button-positive" ng-class="{game.savingScore || game.initials.length < 2 ? 'disabled' : ''}" ng-disabled = "game.savingScore || game.initials.length < 2"><b>Save {{game.savingScore || game.initials.length !  2 ? 'disabled' : ''}}</b></button>
      	</div>
    	</div>
  	</form>
		<ol class="high-scores">
			<li ng-repeat='( k, v ) in highScores'>
			    <i  ng-show="k < 3">  {{v.name}} ... {{v.score}}</i>
		</ol>
		<p><a class = "positive" ng-click="game.closeScoreModal('leaderboard')">View  Leaderboard</a></p>
  </div>
</div>
